@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Car Rental</h1>
    <p>Navigate to:</p>
    <a asp-action="GoToReservations" asp-controller="Home" class="btn btn-success m-2">Reservations</a>
</div>
