@model CarRental.Entities.Location

@{
    ViewData["Title"] = "Edit Location";
}

<div class="text-center">
    <h1 style="color: blue; font-weight: bold;">Edit Location</h1>
    <h4 style="color: gray;">Location</h4>
</div>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="LocationID" />
            <div class="form-group mb-3">
                <label asp-for="LocationName" class="control-label"></label>
                <input asp-for="LocationName" class="form-control" />
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="LocationAddress" class="control-label"></label>
                <input asp-for="LocationAddress" class="form-control" />
                <span asp-validation-for="LocationAddress" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="LocationCity" class="control-label"></label>
                <input asp-for="LocationCity" class="form-control" />
                <span asp-validation-for="LocationCity" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="LocationZipCode" class="control-label"></label>
                <input asp-for="LocationZipCode" class="form-control" />
                <span asp-validation-for="LocationZipCode" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="LocationCountry" class="control-label"></label>
                <input asp-for="LocationCountry" class="form-control" />
                <span asp-validation-for="LocationCountry" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary me-2" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
