@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<div class="text-center">
    <h1 style="color: blue; font-weight: bold;">Password Reset Successful</h1>
</div>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <p>Your password has been reset successfully. You can now <a href="@Url.Action("Login", "Account")">log in</a> with your new password.</p>
    </div>
</div>
